{
  "swagger":"2.0",
  "info":{
    "title":"clsschedSectionType",
    "description":"Section Types Data",
    "version":"v0",
    "license":{
      "name":"Apache 2.0",
      "url":"http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host":"api.byu.edu",
  "schemes":[
    "https"
  ],
  "basePath":"/domain/clssched/section_types",
  "produces":[
    "application/json"
  ],
  "paths":{
    "/":{
      "x-controller":"section_types",
      "get":{
        "summary":"clssched Codes",
        "description":"Retrieve a collection of section_types",
        "operationId":"getSectionTypes",
        "parameters":[
          {
            "name":"active_status",
            "in":"query",
            "description":"query by active_status",
            "required":false,
            "type":"string"
          }
        ],
        "tags":[
          "Section Types"
        ],
        "responses":{
          "200":{
            "description":"Retrieve a collection of section_types",
            "schema":{
              "description":"A collection of section types",
              "type":"object",
              "required":[
                "links",
                "metadata",
                "values"
              ],
              "properties":{
                "links":{
                  "description":"Hypermedia Links that impact the section type collection",
                  "type":"object",
                  "required":[
                    "section_types__info"
                  ],
                  "properties":{
                    "section_types__info":{
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "self"
                          ],
                          "default":"self"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      },
                      "example":{
                        "rel":"self",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1",
                        "method":"GET"
                      }
                    },
                    "section_types__create":{
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "section_types__create"
                          ],
                          "default":"section_types__create"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "POST"
                          ],
                          "default":"POST"
                        }
                      },
                      "example":{
                        "rel":"section_types__create",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/",
                        "method":"POST"
                      }
                    }
                  },
                  "example":{
                    "section_types__info":{
                      "rel":"self",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1",
                      "method":"GET"
                    },
                    "section_types__create":{
                      "rel":"section_types__create",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/",
                      "method":"POST"
                    }
                  }
                },
                "metadata":{
                  "allOf":[
                    {
                      "type":"object",
                      "required":[
                        "validation_response"
                      ],
                      "properties":{
                        "validation_response":{
                          "type":"object",
                          "required":[
                            "code",
                            "message"
                          ],
                          "properties":{
                            "code":{
                              "type":"integer",
                              "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                            },
                            "message":{
                              "type":"string",
                              "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                            }
                          },
                          "example":{
                            "code":200,
                            "message":"Successful"
                          }
                        },
                        "validation_information":{
                          "type":"array",
                          "items":{
                            "type":"string"
                          }
                        },
                        "cache":{
                          "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                          "type":"object",
                          "properties":{
                            "date_time":{
                              "type":"string",
                              "format":"date-time"
                            }
                          }
                        }
                      },
                      "example":{
                        "validation_response":{
                          "code":200,
                          "message":"Successful"
                        }
                      }
                    },
                    {
                      "type":"object",
                      "required":[
                        "collection_size"
                      ],
                      "properties":{
                        "collection_size":{
                          "type":"integer",
                          "minimum":0,
                          "default":0,
                          "x-variable":"collection_size",
                          "example":1
                        }
                      }
                    }
                  ],
                  "example":{
                    "collection_size":1,
                    "validation_response":{
                      "code":200,
                      "message":"Retrieve Successful"
                    }
                  }
                },
                "values":{
                  "type":"array",
                  "items":{
                    "description":"A section type",
                    "type":"object",
                    "properties":{
                      "links":{
                        "description":"Hypermedia Links that impact this section type",
                        "type":"object",
                        "required":[
                          "section_types__info"
                        ],
                        "properties":{
                          "section_type__info":{
                            "description":"Hypermedia link to retrieve this section_type",
                            "type":"object",
                            "required":[
                              "rel",
                              "href",
                              "method"
                            ],
                            "properties":{
                              "rel":{
                                "type":"string",
                                "enum":[
                                  "self"
                                ],
                                "default":"self"
                              },
                              "href":{
                                "type":"string",
                                "format":"uri",
                                "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                                "x-template":"https://api.byu.edu/domain/clssched/section_types/v1/:section_type"
                              },
                              "method":{
                                "type":"string",
                                "enum":[
                                  "GET"
                                ],
                                "default":"GET"
                              }
                            },
                            "example":{
                              "rel":"self",
                              "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                              "method":"GET"
                            }
                          },
                          "section_type__modify":{
                            "description":"Hypermedia link to modify this section_type",
                            "type":"object",
                            "required":[
                              "rel",
                              "href",
                              "method"
                            ],
                            "properties":{
                              "rel":{
                                "type":"string",
                                "enum":[
                                  "section_type__modify"
                                ],
                                "default":"section_type__modify"
                              },
                              "href":{
                                "type":"string",
                                "format":"uri",
                                "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                                "x-template":"https://api.byu.edu/domain/clssched/section_types/v1/:section_type"
                              },
                              "method":{
                                "type":"string",
                                "enum":[
                                  "PUT"
                                ],
                                "default":"PUT"
                              }
                            },
                            "example":{
                              "rel":"section_type__modify",
                              "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                              "method":"PUT"
                            }
                          },
                          "section_type__remove":{
                            "description":"Hypermedia link to remove this section_type",
                            "type":"object",
                            "required":[
                              "rel",
                              "href",
                              "method"
                            ],
                            "properties":{
                              "rel":{
                                "type":"string",
                                "enum":[
                                  "section_type__remove"
                                ],
                                "default":"section_type__remove"
                              },
                              "href":{
                                "type":"string",
                                "format":"uri",
                                "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                                "x-template":"https://api/byu.edu/domain/clssched/section_types/v1/:section_type"
                              },
                              "method":{
                                "type":"string",
                                "enum":[
                                  "DELETE"
                                ],
                                "default":"DELETE"
                              }
                            },
                            "example":{
                              "rel":"section_type__remove",
                              "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                              "method":"DELETE"
                            }
                          }
                        },
                        "example":{
                          "section_type__info":{
                            "rel":"self",
                            "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                            "method":"GET"
                          },
                          "section_type__modify":{
                            "rel":"section_type__modify",
                            "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                            "method":"PUT"
                          },
                          "section_type__remove":{
                            "rel":"section_type__remove",
                            "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                            "method":"DELETE"
                          }
                        }
                      },
                      "metadata":{
                        "type":"object",
                        "required":[
                          "validation_response"
                        ],
                        "properties":{
                          "validation_response":{
                            "type":"object",
                            "required":[
                              "code",
                              "message"
                            ],
                            "properties":{
                              "code":{
                                "type":"integer",
                                "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                              },
                              "message":{
                                "type":"string",
                                "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                              }
                            },
                            "example":{
                              "code":200,
                              "message":"Successful"
                            }
                          },
                          "validation_information":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            }
                          },
                          "cache":{
                            "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                            "type":"object",
                            "properties":{
                              "date_time":{
                                "type":"string",
                                "format":"date-time"
                              }
                            }
                          }
                        },
                        "example":{
                          "validation_response":{
                            "code":200,
                            "message":"Successful"
                          }
                        }
                      },
                      "section_type":{
                        "description":"section_type",
                        "type":"string",
                        "example":"IDAHO"
                      },
                      "description":{
                        "description":"section_type short description",
                        "type":"string",
                        "example":"Idaho Center"
                      },
                      "long_description":{
                        "description":"section_type long description",
                        "type":"string",
                        "example":"Idaho Center"
                      },
                      "active_status":{
                        "description":"Is the code currently active or only used for archive purposes?",
                        "type":"string",
                        "pattern":"^(?:Y|N)$",
                        "example":"Y"
                      },
                      "updated_by_id":{
                        "description":"Who last updated the section_type's data?",
                        "type":"string",
                        "example":"INIT"
                      },
                      "date_time_updated":{
                        "description":"When was the section_type's data last updated?",
                        "type":"string",
                        "format":"date-time",
                        "example":"2005-11-01T00:00:00.000Z"
                      }
                    },
                    "example":{
                      "links":{
                        "section_type__info":{
                          "rel":"self",
                          "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                          "method":"GET"
                        },
                        "section_type__modify":{
                          "rel":"section_type__modify",
                          "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                          "method":"PUT"
                        },
                        "section_type__remove":{
                          "rel":"section_type__remove",
                          "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                          "method":"DELETE"
                        }
                      },
                      "metadata":{
                        "validation_response":{
                          "code":200,
                          "message":"Successful"
                        }
                      },
                      "section_type":"IDAHO",
                      "description":"Idaho Center",
                      "long_description":"Idaho Center",
                      "active_status":"Y",
                      "updated_by_id":"INIT",
                      "date_time_updated":"2005-11-01T00:00:00.000Z"
                    }
                  }
                }
              },
              "example":{
                "links":{
                  "section_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1",
                    "method":"GET"
                  },
                  "section_types__create":{
                    "rel":"section_types__create",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/",
                    "method":"POST"
                  }
                },
                "metadata":{
                  "collection_size":1,
                  "validation_response":{
                    "code":200,
                    "message":"Retrieve Successful"
                  }
                },
                "values":[
                  {
                    "links":{
                      "section_type__info":{
                        "rel":"self",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"GET"
                      },
                      "section_type__modify":{
                        "rel":"section_type__modify",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"PUT"
                      },
                      "section_type__remove":{
                        "rel":"section_type__remove",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"DELETE"
                      }
                    },
                    "metadata":{
                      "validation_response":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "section_type":"IDAHO",
                    "description":"Idaho Center",
                    "long_description":"Idaho Center",
                    "active_status":"Y",
                    "updated_by_id":"INIT",
                    "date_time_updated":"2005-11-01T00:00:00.000Z"
                  }
                ]
              }
            },
            "examples":{
              "application/json":{
                "links":{
                  "section_types__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1",
                    "method":"GET"
                  },
                  "section_types__create":{
                    "rel":"section_types__create",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/",
                    "method":"POST"
                  }
                },
                "metadata":{
                  "collection_size":1,
                  "validation_response":{
                    "code":200,
                    "message":"Retrieve Successful"
                  }
                },
                "values":[
                  {
                    "links":{
                      "section_type__info":{
                        "rel":"self",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"GET"
                      },
                      "section_type__modify":{
                        "rel":"section_type__modify",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"PUT"
                      },
                      "section_type__remove":{
                        "rel":"section_type__remove",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"DELETE"
                      }
                    },
                    "metadata":{
                      "validation_response":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "section_type":"IDAHO",
                    "description":"Idaho Center",
                    "long_description":"Idaho Center",
                    "active_status":"Y",
                    "updated_by_id":"INIT",
                    "date_time_updated":"2005-11-01T00:00:00.000Z"
                  }
                ]
              }
            }
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "401":{
            "description":"Authentication required to access data",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "403":{
            "description":"Access denied to protected data",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "409":{
            "description":"Query parameters conflict or are malformed",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "default":{
            "description":"Unexpected error",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post":{
        "summary":"clssched Codes",
        "description":"Creates a new section type",
        "operationId":"createSectionType",
        "parameters":[
          {
            "name":"section_type_new",
            "in":"body",
            "description":"New section type values",
            "required":true,
            "schema":{
              "description":"Elements required to add a new section_type",
              "type":"object",
              "required":[
                "section_type",
                "description",
                "long_description",
                "active_status"
              ],
              "properties":{
                "section_type":{
                  "description":"section_type",
                  "type":"string",
                  "example":"IDAHO"
                },
                "description":{
                  "description":"section_type short description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "long_description":{
                  "description":"section_type long description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "pattern":"^(?:Y|N)$",
                  "example":"Y"
                }
              },
              "example":{
                "section_type":"IDAHO",
                "description":"Idaho Center",
                "long_description":"Idaho Center",
                "active_status":"Y"
              }
            }
          }
        ],
        "tags":[
          "Section Types"
        ],
        "responses":{
          "201":{
            "description":"Section Type successfully created",
            "schema":{
              "description":"A section type",
              "type":"object",
              "properties":{
                "links":{
                  "description":"Hypermedia Links that impact this section type",
                  "type":"object",
                  "required":[
                    "section_types__info"
                  ],
                  "properties":{
                    "section_type__info":{
                      "description":"Hypermedia link to retrieve this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "self"
                          ],
                          "default":"self"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api.byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      },
                      "example":{
                        "rel":"self",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"GET"
                      }
                    },
                    "section_type__modify":{
                      "description":"Hypermedia link to modify this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "section_type__modify"
                          ],
                          "default":"section_type__modify"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api.byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "PUT"
                          ],
                          "default":"PUT"
                        }
                      },
                      "example":{
                        "rel":"section_type__modify",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"PUT"
                      }
                    },
                    "section_type__remove":{
                      "description":"Hypermedia link to remove this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "section_type__remove"
                          ],
                          "default":"section_type__remove"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api/byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "DELETE"
                          ],
                          "default":"DELETE"
                        }
                      },
                      "example":{
                        "rel":"section_type__remove",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"DELETE"
                      }
                    }
                  },
                  "example":{
                    "section_type__info":{
                      "rel":"self",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"GET"
                    },
                    "section_type__modify":{
                      "rel":"section_type__modify",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"PUT"
                    },
                    "section_type__remove":{
                      "rel":"section_type__remove",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"DELETE"
                    }
                  }
                },
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                },
                "section_type":{
                  "description":"section_type",
                  "type":"string",
                  "example":"IDAHO"
                },
                "description":{
                  "description":"section_type short description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "long_description":{
                  "description":"section_type long description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "pattern":"^(?:Y|N)$",
                  "example":"Y"
                },
                "updated_by_id":{
                  "description":"Who last updated the section_type's data?",
                  "type":"string",
                  "example":"INIT"
                },
                "date_time_updated":{
                  "description":"When was the section_type's data last updated?",
                  "type":"string",
                  "format":"date-time",
                  "example":"2005-11-01T00:00:00.000Z"
                }
              },
              "example":{
                "links":{
                  "section_type__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"GET"
                  },
                  "section_type__modify":{
                    "rel":"section_type__modify",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"PUT"
                  },
                  "section_type__remove":{
                    "rel":"section_type__remove",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "section_type":"IDAHO",
                "description":"Idaho Center",
                "long_description":"Idaho Center",
                "active_status":"Y",
                "updated_by_id":"INIT",
                "date_time_updated":"2005-11-01T00:00:00.000Z"
              }
            },
            "examples":{
              "application/json":{
                "links":{
                  "section_type__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"GET"
                  },
                  "section_type__modify":{
                    "rel":"section_type__modify",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"PUT"
                  },
                  "section_type__remove":{
                    "rel":"section_type__remove",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "section_type":"IDAHO",
                "description":"Idaho Center",
                "long_description":"Idaho Center",
                "active_status":"Y",
                "updated_by_id":"INIT",
                "date_time_updated":"2005-11-01T00:00:00.000Z"
              }
            }
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "401":{
            "description":"Authentication required to access data",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "403":{
            "description":"Access denied to protected data",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "409":{
            "description":"Query parameters conflict or are malformed",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "default":{
            "description":"Unexpected error",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{section_type}":{
      "x-controller":"section_type",
      "get":{
        "summary":"clssched Codes",
        "description":"Retrieve a specific section_type",
        "operationId":"getSectionType",
        "parameters":[
          {
            "name":"section_type",
            "in":"path",
            "description":"section_type path parameter",
            "required":true,
            "type":"string"
          }
        ],
        "tags":[
          "Section Types"
        ],
        "responses":{
          "200":{
            "description":"A specific section_type",
            "schema":{
              "description":"A section type",
              "type":"object",
              "properties":{
                "links":{
                  "description":"Hypermedia Links that impact this section type",
                  "type":"object",
                  "required":[
                    "section_types__info"
                  ],
                  "properties":{
                    "section_type__info":{
                      "description":"Hypermedia link to retrieve this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "self"
                          ],
                          "default":"self"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api.byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      },
                      "example":{
                        "rel":"self",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"GET"
                      }
                    },
                    "section_type__modify":{
                      "description":"Hypermedia link to modify this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "section_type__modify"
                          ],
                          "default":"section_type__modify"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api.byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "PUT"
                          ],
                          "default":"PUT"
                        }
                      },
                      "example":{
                        "rel":"section_type__modify",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"PUT"
                      }
                    },
                    "section_type__remove":{
                      "description":"Hypermedia link to remove this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "section_type__remove"
                          ],
                          "default":"section_type__remove"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api/byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "DELETE"
                          ],
                          "default":"DELETE"
                        }
                      },
                      "example":{
                        "rel":"section_type__remove",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"DELETE"
                      }
                    }
                  },
                  "example":{
                    "section_type__info":{
                      "rel":"self",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"GET"
                    },
                    "section_type__modify":{
                      "rel":"section_type__modify",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"PUT"
                    },
                    "section_type__remove":{
                      "rel":"section_type__remove",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"DELETE"
                    }
                  }
                },
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                },
                "section_type":{
                  "description":"section_type",
                  "type":"string",
                  "example":"IDAHO"
                },
                "description":{
                  "description":"section_type short description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "long_description":{
                  "description":"section_type long description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "pattern":"^(?:Y|N)$",
                  "example":"Y"
                },
                "updated_by_id":{
                  "description":"Who last updated the section_type's data?",
                  "type":"string",
                  "example":"INIT"
                },
                "date_time_updated":{
                  "description":"When was the section_type's data last updated?",
                  "type":"string",
                  "format":"date-time",
                  "example":"2005-11-01T00:00:00.000Z"
                }
              },
              "example":{
                "links":{
                  "section_type__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"GET"
                  },
                  "section_type__modify":{
                    "rel":"section_type__modify",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"PUT"
                  },
                  "section_type__remove":{
                    "rel":"section_type__remove",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "section_type":"IDAHO",
                "description":"Idaho Center",
                "long_description":"Idaho Center",
                "active_status":"Y",
                "updated_by_id":"INIT",
                "date_time_updated":"2005-11-01T00:00:00.000Z"
              }
            },
            "examples":{
              "application/json":{
                "links":{
                  "section_type__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"GET"
                  },
                  "section_type__modify":{
                    "rel":"section_type__modify",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"PUT"
                  },
                  "section_type__remove":{
                    "rel":"section_type__remove",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "section_type":"IDAHO",
                "description":"Idaho Center",
                "long_description":"Idaho Center",
                "active_status":"Y",
                "updated_by_id":"INIT",
                "date_time_updated":"2005-11-01T00:00:00.000Z"
              }
            }
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "401":{
            "description":"Authentication required to access data",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "403":{
            "description":"Access denied to protected data",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "404":{
            "description":"There is no matching section_type",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "409":{
            "description":"Query parameters conflict or are malformed",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          },
          "default":{
            "description":"Unexpected error",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put":{
        "summary":"clssched Codes",
        "description":"Modify a section_type",
        "operationId":"modifySectionType",
        "parameters":[
          {
            "name":"section_type",
            "in":"path",
            "description":"section_type path parameter",
            "required":true,
            "type":"string"
          },
          {
            "name":"section_type_modify",
            "in":"body",
            "description":"Values required to modify a section_type",
            "required":true,
            "schema":{
              "description":"Elements required to add a new section_type",
              "type":"object",
              "required":[
                "section_type",
                "description",
                "long_description",
                "active_status"
              ],
              "properties":{
                "section_type":{
                  "description":"section_type",
                  "type":"string",
                  "example":"IDAHO"
                },
                "description":{
                  "description":"section_type short description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "long_description":{
                  "description":"section_type long description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "pattern":"^(?:Y|N)$",
                  "example":"Y"
                }
              },
              "example":{
                "section_type":"IDAHO",
                "description":"Idaho Center",
                "long_description":"Idaho Center",
                "active_status":"Y"
              }
            }
          }
        ],
        "tags":[
          "Section Types"
        ],
        "responses":{
          "200":{
            "description":"section_type successfully Modified",
            "schema":{
              "description":"A section type",
              "type":"object",
              "properties":{
                "links":{
                  "description":"Hypermedia Links that impact this section type",
                  "type":"object",
                  "required":[
                    "section_types__info"
                  ],
                  "properties":{
                    "section_type__info":{
                      "description":"Hypermedia link to retrieve this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "self"
                          ],
                          "default":"self"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api.byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "GET"
                          ],
                          "default":"GET"
                        }
                      },
                      "example":{
                        "rel":"self",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"GET"
                      }
                    },
                    "section_type__modify":{
                      "description":"Hypermedia link to modify this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "section_type__modify"
                          ],
                          "default":"section_type__modify"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api.byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "PUT"
                          ],
                          "default":"PUT"
                        }
                      },
                      "example":{
                        "rel":"section_type__modify",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"PUT"
                      }
                    },
                    "section_type__remove":{
                      "description":"Hypermedia link to remove this section_type",
                      "type":"object",
                      "required":[
                        "rel",
                        "href",
                        "method"
                      ],
                      "properties":{
                        "rel":{
                          "type":"string",
                          "enum":[
                            "section_type__remove"
                          ],
                          "default":"section_type__remove"
                        },
                        "href":{
                          "type":"string",
                          "format":"uri",
                          "default":"https://api.byu.edu/domain/clssched/section_types/v1/{section_type}",
                          "x-template":"https://api/byu.edu/domain/clssched/section_types/v1/:section_type"
                        },
                        "method":{
                          "type":"string",
                          "enum":[
                            "DELETE"
                          ],
                          "default":"DELETE"
                        }
                      },
                      "example":{
                        "rel":"section_type__remove",
                        "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                        "method":"DELETE"
                      }
                    }
                  },
                  "example":{
                    "section_type__info":{
                      "rel":"self",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"GET"
                    },
                    "section_type__modify":{
                      "rel":"section_type__modify",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"PUT"
                    },
                    "section_type__remove":{
                      "rel":"section_type__remove",
                      "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                      "method":"DELETE"
                    }
                  }
                },
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
                        "message":"Successful"
                      }
                    },
                    "validation_information":{
                      "type":"array",
                      "items":{
                        "type":"string"
                      }
                    },
                    "cache":{
                      "description":"If data is from live source, value will be null, otherwise it will be date-time of cache",
                      "type":"object",
                      "properties":{
                        "date_time":{
                          "type":"string",
                          "format":"date-time"
                        }
                      }
                    }
                  },
                  "example":{
                    "validation_response":{
                      "code":200,
                      "message":"Successful"
                    }
                  }
                },
                "section_type":{
                  "description":"section_type",
                  "type":"string",
                  "example":"IDAHO"
                },
                "description":{
                  "description":"section_type short description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "long_description":{
                  "description":"section_type long description",
                  "type":"string",
                  "example":"Idaho Center"
                },
                "active_status":{
                  "description":"Is the code currently active or only used for archive purposes?",
                  "type":"string",
                  "pattern":"^(?:Y|N)$",
                  "example":"Y"
                },
                "updated_by_id":{
                  "description":"Who last updated the section_type's data?",
                  "type":"string",
                  "example":"INIT"
                },
                "date_time_updated":{
                  "description":"When was the section_type's data last updated?",
                  "type":"string",
                  "format":"date-time",
                  "example":"2005-11-01T00:00:00.000Z"
                }
              },
              "example":{
                "links":{
                  "section_type__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"GET"
                  },
                  "section_type__modify":{
                    "rel":"section_type__modify",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"PUT"
                  },
                  "section_type__remove":{
                    "rel":"section_type__remove",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "section_type":"IDAHO",
                "description":"Idaho Center",
                "long_description":"Idaho Center",
                "active_status":"Y",
                "updated_by_id":"INIT",
                "date_time_updated":"2005-11-01T00:00:00.000Z"
              }
            },
            "examples":{
              "application/json":{
                "links":{
                  "section_type__info":{
                    "rel":"self",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"GET"
                  },
                  "section_type__modify":{
                    "rel":"section_type__modify",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"PUT"
                  },
                  "section_type__remove":{
                    "rel":"section_type__remove",
                    "href":"https://api.byu.edu/domain/clssched/section_types/v1/IDAHO",
                    "method":"DELETE"
                  }
                },
                "metadata":{
                  "validation_response":{
                    "code":200,
                    "message":"Successful"
                  }
                },
                "section_type":"IDAHO",
                "description":"Idaho Center",
                "long_description":"Idaho Center",
                "active_status":"Y",
                "updated_by_id":"INIT",
                "date_time_updated":"2005-11-01T00:00:00.000Z"
              }
            }
          },
          "400":{
            "description":"Invalid Request - unable to interpret request",
            "schema":{
              "type":"object",
              "required":[
                "metadata"
              ],
              "properties":{
                "metadata":{
                  "type":"object",
                  "required":[
                    "validation_response"
                  ],
                  "properties":{
                    "validation_response":{
                      "type":"object",
                      "required":[
                        "code",
                        "message"
                      ],
                      "properties":{
                        "code":{
                          "type":"integer",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/code"
                        },
                        "message":{
                          "type":"string",
                          "example":"#/x-mock_json/section_types/values/0/metadata/validation_response/message"
                        }
                      },
                      "example":{
                        "code":200,
[...]
